section
    &:nth-of-type(2)
        margin-top: 6%
        margin-right: 15%
        margin-left: 15%
        text-align: center
        h3
            text-align: center
            margin-bottom: 50px
        p
            margin-top: 20px
            font-weight: bolder
        span
            color: red
        .gris
            text-decoration: line-through
            opacity: 0.5
            color: #b5b5b6
        .sale
            border-radius: 50%
            padding: 15px
            color: white
            background-color: #DD4545
            border: none
            margin-right: 10px
            cursor: default
        .row1
            margin-right: 10px
            margin-left: 10px
            @media screen and (max-width:600px)
                flex-direction: column    
            @media screen and (min-width:768px) and (max-width:1024px)
                flex-direction: column
        img[alt="luxury"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
            position: relative
        .btnNoir
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 209px 
            @media screen and (max-width:600px)
                display: none 
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 348px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                    display: none
        img[alt="gloves"]  
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir2
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 497px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge2
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 635px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        img[alt="cups"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir3
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 785px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge3
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 239%
            left: 923px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .row2
            margin-top: 30px
            margin-right: 10px
            margin-left: 10px
            @media screen and (max-width:600px)
                flex-direction: column
            @media screen and (min-width:768px) and (max-width:1024px)
                flex-direction: column
        img[alt="bag"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir4
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 300%
            left: 209px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge4
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 300%
            left: 346px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        img[alt="T-Shirt"]  
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir5
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 303%
            left: 497px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge5
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 303%
            left: 635px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        img[alt="plates"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir6
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 303%
            left: 785px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge6
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 303%
            left: 923px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .row3
            margin-top: 30px
            margin-right: 10px
            margin-left: 10px
            @media screen and (max-width:600px)
                flex-direction: column
            @media screen and (min-width:768px) and (max-width:1024px)
                flex-direction: column
        img[alt="morder-sofa"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir7
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 209px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge7
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 635px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        img[alt="bed"]  
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir8
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 497px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge8
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 346px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        img[alt="shoes"]
            width: 100%
            height: 40vh
            padding-left: 10px
            padding-right: 10px
        .btnNoir9
            padding: 15px
            padding-left: 27px
            background-color: black
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 786px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none
        .btnRouge9
            padding: 15px
            padding-right: 25px
            background-color: red
            opacity: 0.7
            color: white
            border: none
            font-size: 15px
            position: absolute
            top: 366%
            left: 925px
            @media screen and (max-width:600px)
                display: none
            @media screen and (min-width:768px) and (max-width:1024px)
                display: none