.img4
    margin-top: 5%
    background-image: url(../img/cta-bg.jpg)
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    height: 100vh
    width: 100%
    h2
        color: white
        text-align: center
        padding-top: 20%
        font-size: 40px
        @media screen and (max-width:600px)
            padding-top: 80%
        @media screen and (min-width:768px) and (max-width:1024px)
            padding-top: 60%
    .btnSc3
        margin-left: 45% 
        margin-top: 20px
        border-radius: 5px
        padding: 5px 10px 5px 10px  
        background-color: #dd4545
        color: white
        border: none
        @media screen and (max-width:600px)
            margin-left: 35%